.Profile{
    display: flex;
    padding-top: 150px;
    margin: 0 auto;
}

.ProfileCard{
    background-color: #fff;
    width: 300px;
    height: 80vh;
    display: flex;
    min-height: 550px;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    border-radius: 15px;
    justify-content: space-around;
    .max_width{
        max-width: 260px;
    }
    .userinfo{
        text-align: center;
        img{
            width: 188px;
            height: 188px;
            border-radius: 50%;
        }
        h2{
            color: #333333;
            font-weight: 800;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.03em;
            margin: 20px 0 0;
        }
        p{
            margin: 5px 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #333333;
            &[data-visited]{
                color: #909ADE;
            }
        }

    }
    .userstats{
        width: 100%;
        h2{
            font-weight: 800;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            color: #000000;
            text-align: left;
        }
    }
    .usercontacts{
        width: 100%;
        
        h2{
            font-weight: 800;
            font-size: 16px;
            line-height: 19px;
            color: #333333;
            text-align: center;
            margin-bottom: 20px;
        }
        div{
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
            a{
                margin-left: 10px;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #333333;
                &[data-line-off]{
                    text-decoration: none;
                }
            }
        }
    }
}

.Dashboard{
    margin-left: 50px;
    width: 80%;
    overflow-y: auto;
    height: 100vh;
    &::-webkit-scrollbar{
        display: none;
    }
    h2{
        text-align: center;
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #333333;
    }
    .DashboardItems{
        display: flex;
        align-items: center;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


@media (max-width:650px) {
    .Profile{
        flex-direction: column;
        align-items: center;
    }
    .ProfileCard{
        padding: 0;
    }
    .Dashboard{
        margin: 0;
        height: auto;
        width: 100%;
    }
}